# {{ ansible_managed }}
# Managed by Ansible Role: security_pam_ssh

# =========================================
# SSHD ACCESS CONTROL CONFIGURATION
# =========================================

{% for entry in _pam_ssh_active_rules %}
{% if entry.ssh %}
# {{ entry.description }}
{% if entry.source == "local" %}
{% if entry.type == "user" %}
+ : {{ entry.identity }} : {{ entry.ssh_origin }}
{% elif entry.type == "group" %}
+ : ({{ entry.identity }}) : {{ entry.ssh_origin }}
{% endif %}
{% elif entry.source == "domain" %}
+ : ({{ entry.identity }}@{{ pam_ssh_domain }}) : {{ entry.ssh_origin }}
{% endif %}
{% endif %}

{% endfor %}
{% if pam_ssh_access_deny_all | default(true) | bool %}
# Запрет для всех остальных
- : ALL : ALL
{% endif %}