# {{ ansible_managed }}
# Managed by Ansible Role: grub

# ------------------------------------------------------------------------------
# 1. ЛОГИКА ВЫБОРА ЯДРА И ПОВЕДЕНИЕ МЕНЮ
# ------------------------------------------------------------------------------
GRUB_DEFAULT=saved
GRUB_TIMEOUT=10
GRUB_DISTRIBUTOR=`lsb_release -i -s 2> /dev/null || echo Debian`
GRUB_SAVEDEFAULT=false
GRUB_DISABLE_SUBMENU=y
GRUB_TIMEOUT_STYLE=menu
GRUB_RECORDFAIL_TIMEOUT=10
# ------------------------------------------------------------------------------
# 2. ПАРАМЕТРЫ ЗАПУСКА ЯДРА
# ------------------------------------------------------------------------------
GRUB_CMDLINE_LINUX="panic=10"
{% if ansible_facts['distribution'] == 'Astra Linux' %}
{{ default_line | default('GRUB_CMDLINE_LINUX_DEFAULT="quiet parsec.max_ilev=0 parsec.mac=0"') }}
{{ hardened_line | default('GRUB_CMDLINE_LINUX_HARDENED="slub_debug=P page_poison=1 slab_nomerge pti=on user.max_user_namespaces=0 kernel.kptr_restrict=1 vsyscall=none"') }}
{% else %}
GRUB_CMDLINE_LINUX_DEFAULT=""
{% endif %}
# ------------------------------------------------------------------------------
# 3. НАСТРОЙКА ИНТЕРФЕЙСА И ВЫВОДА GRUB
# ------------------------------------------------------------------------------
GRUB_TERMINAL=console
GRUB_GFXMODE=1024x768
GRUB_GFXPAYLOAD_LINUX=text
# ------------------------------------------------------------------------------
# 4. БЕЗОПАСНОСТЬ И ОПТИМИЗАЦИЯ СБОРКИ КОНФИГА
# ------------------------------------------------------------------------------
GRUB_DISABLE_RECOVERY="true"
GRUB_DISABLE_OS_PROBER="true"
